[submodule "m2000/s0/espanish-mod-intro"]
	path = m2000/s0/espanish-mod-intro
	url = git@github.com:nextsigner/unik-slg-intro.git
[submodule "m2000/s1/espanish-mod-index"]
	path = m2000/s1/espanish-mod-index
	url = git@github.com:nextsigner/unik-slg-index.git
[submodule "m2000/s2/espanish-mod-001"]
	path = m2000/s2/espanish-mod-001
	url = git@github.com:nextsigner/espanish-mod-001.git
[submodule "espanish-mod-002"]
	path = m2000/s3/espanish-mod-002
	url = git@github.com:nextsigner/espanish-mod-002.git
